<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Robo Battery Cafe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/admin">Admin</a>
        <% if (orderSession) { %>
        <a class="nav-item nav-link" href="/orders/<%= orderSession %>">Order #<%= orderSession %></a>
        <% }; %>
      </div>
    </div>
    <div class="navbar-nav ml-auto" id="place_order_button">
      <button type="button" class="btn btn-primary">Place Order</button>
    </div>
  </nav>
</header>
