.adminContainer {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 100px;
  row-gap: 4em;
}

.adminOrders {
  width: 80em;
  text-align: center;
  color: #212529;
  border: 5px solid #734c64;
  border-radius: 9px;
}

.adminOrders .card {
  background: #957584;
  color: white;
}

.adminOrders h2 {
  font-family: "Orbitron", sans-serif;
}

.adminOrders table {
  color: white;
}

.prepTime {
 display: flex;
 flex-direction: row;
 justify-content: center;
}

.prepTime input {
  width: 5em;
  margin-right: 10px;
}
