header {
  height: 700px;
  width: auto;
  background-image: url("../images/header-img-crop.jpeg");
  background-color: #a4d7f5;
  background-blend-mode: multiply;
  opacity: 0.9;
}

.heroHeader h2 {
  font-family: "Roboto", sans-serif;
  color: white;
  margin-top: 300px;
  font-size: 90px;
}
