nav {
  height: 120px;
}

nav img {
  width: 80px;
  margin-left: 30px;
}

.navbar-brand {
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
  margin: 20px;
}

.navbar-nav {
  margin-right: 30px;
}

#trackOrder {
  font-family: "Orbitron", sans-serif;
  border: 3px solid white;
}

#trackOrder:hover {
  transform: translateY(-2px);
}

#hiddenAdmin {
  color: #212529
}

#place_order_button:hover {
  transform: translateY(-2px);
}

#admin-text {
  font-family: "Orbitron", sans-serif;
  color: white;
  margin: auto;
}

#padlock {
  width: 50px;
}
