#orderForm {
  padding-top: 80px;
  margin-bottom: 100px;
}

#orderForm .card {
  color: white;
  background-color: #212529;
  padding-right: 3em;
  padding-left: 3em;
}

#formCard {
  width: 900px;
  height: 450px;
  margin: auto;
  text-align: center;
  background: white;
  color: #212529;
  border: 3px solid #212529;
  border-radius: 8px;
}

#formCard button {
  margin-top: 3em;
  font-family: "Orbitron", sans-serif;
  color: #90D8F9;
  border: 3px solid #90D8F9;
}

#formCard button:hover {
  color: #90D8F9;
  background: transparent;
  transform: translateY(-2px);
}

.form-group {
  margin: 1em;
}

.order-error {
  padding: 2px;
}
