.customerOrderContainer {
  display: flex;
  flex-direction: row;
  margin: auto;
  column-gap: 2em;
  max-height: 1000px;
  margin-top: 0px;
  margin-bottom: 100px;
}

.customerOrderContainer .card-body {
  font-family: "Josefin", sans-serif;
}
.customerOrderContainer h2 {
  font-family: "Orbitron", sans-serif;
  margin-bottom: 1em;
}

.orderDetails {
  width: 60em;
  text-align: center;
}

.orderDetails .card {
  color: white;
  background-color: #212529;
  border: 5px solid #212529;
  border-radius: 9px;
  height: 530px;
}

.orderDetails table {
  color: white;
}
.orderDetails h2 {
  margin-bottom: 0px;
 }

.orderDetails .orderTotal {
 font-size: 20px;
 /* font-family: "Orbitron", sans-serif; */
}

#detailsFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}

.restaurantDetails .card {
  color: white;
  background-color: #212529;
  border: 5px solid #212529;
  border-radius: 9px;
}

#map {
  width: 500px;
}

.thank-you-img {
  margin: auto;
  margin-top: 120px;
  margin-bottom: 0px;
}

.thank-you-img  img {
  width: 400px;
}
