.customerOrderContainer {
  display: flex;
  flex-direction: row;
  margin: auto;
  column-gap: 2em;
  max-height: 1000px;
  margin-top: 0px;
}

.customerOrderContainer .card-body {
  font-family: "Josefin", sans-serif;
}
.customerOrderContainer h3 {
  font-family: "Orbitron", sans-serif;
  margin-bottom: 1em;
}

.orderDetails {
  width: 60em;
  text-align: center;
}

.orderDetails .card {
  background-color: #212529;
  color: white;
  height: 515px;
}

.orderDetails table {
  color: white;
}

.orderDetails .orderTotal {
 font-size: 20px;
}

#detailsFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}

.restaurantDetails .card {
  background-color: #212529;
  color: white;
}

#map {
  width: 500px;
}

.thank-you-img {
  margin: auto;
  margin-top: 120px;
  margin-bottom: 0px;
}

.thank-you-img  img{
  width: 400px;
}
